@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-canvas text-ink;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
